html,
body {
  height: 100%;
  background-color: #929fb2;
  font-family: Catamaran;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.hide {
  display: none;
}
.mainContainer {
  position: absolute;
  width: 1200px;
  height: 600px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  margin: -300px -600px;
}
.mainContainer .menu {
  height: 100%;
  width: 480px;
  float: left;
}
.mainContainer .menu .imageContainer1,
.mainContainer .menu .imageContainer2 {
  position: absolute;
  height: 100%;
  width: 480px;
  background: url(../bg62.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mainContainer .menu .imageContainer2 {
  opacity: 0;
  background-image: url(../bg23.jpg);
}
.mainContainer .menu .navContainer {
  position: relative;
  background-color: #fff;
  width: 180px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 999;
}
.mainContainer .menu .navContainer .name {
  font-size: 25px;
  padding: 85px 0 0 0;
  color: #fff;
  background-color: #1D1D1B;
  height: 70px;
  font-weight: bold;
}
.mainContainer .menu .navContainer .nav {
  font-size: 15px;
  padding: 10px 0;
  list-style-type: none;
  margin: 0;
}
.mainContainer .menu .navContainer .nav li {
  margin: 20px 0;
  cursor: pointer;
}
.mainContainer .menu .navContainer .nav li.active {
  color: #6881b5;
}
.mainContainer .menu .navContainer .nav li .line {
  display: block;
  margin: 0 auto;
  margin: 0 60px;
  border-bottom: 1px solid #e7e6e6;
}
.mainContainer .contentContainer {
  width: calc((100% -  480px ) - 60px);
  height: calc(100% - 40px);
  float: right;
  padding: 20px 30px;
}
.mainContainer .contentContainer section {
  position: relative;
}
.mainContainer .contentContainer .header {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 50px 0 0 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e6e6;
}
.mainContainer .contentContainer .content {
  position: relative;
  padding: 30px 0 0 30px;
}
.mainContainer .contentContainer .aboutMe .content {
  line-height: 22px;
}
.mainContainer .contentContainer .aboutMe .content h3 {
  letter-spacing: 1px;
  width: 50%;
}
.mainContainer .contentContainer .aboutMe .content p {
  display: inline-block;
  width: 45%;
}
.mainContainer .contentContainer .aboutMe .content,
.mainContainer .contentContainer .experiences .content {
  opacity: 0;
  bottom: 50px;
}
.mainContainer .contentContainer .projects h3,
.mainContainer .contentContainer .experiences h3 {
  text-transform: uppercase;
  margin: 0;
}
.mainContainer .contentContainer .projects h4,
.mainContainer .contentContainer .experiences h4 {
  margin: 0;
}
.mainContainer .contentContainer .projects .proj {
  position: relative;
  opacity: 0;
  bottom: 30px;
  display: inline-block;
  width: calc(50% - 30px);
  margin: 20px 0 0 0;
}
.mainContainer .contentContainer .projects .proj .tech {
  letter-spacing: 0.1px;
  font-size: 13px;
  color: #aaaaaa;
}
.mainContainer .contentContainer .projects .proj p {
  font-size: 14px;
}
.mainContainer .contentContainer .experiences {
  height: calc(100% - 110px);
  overflow: hidden;
}
.mainContainer .contentContainer .experiences .content {
  height: calc(100% - 30px);
  overflow-y: auto;
}
.mainContainer .contentContainer .experiences .exp .company {
  text-transform: none;
  color: #aaaaaa;
}
.mainContainer .contentContainer .experiences .exp ul {
  list-style-type: disc;
}
.mainContainer .contentContainer .experiences .exp ul li {
  font-size: 14px;
}
