@background: #929FB2;
@line: #E7E6E6;
@active: #6881B5;
@fontGrey: #AAA;

@mainHeight: 100%;
@mainWidth: 100%;
@navContainerWidth: 180px;
@nameHeight: 70px;
@menuWidth: 480px;

@media (max-width: 400px) {
	section.mainContainer .contentContainer .aboutMe .content .bio h3 {
		font-size: 40px;
	}
}

/* Phablet */
@media (max-width: 550px) {}

/* Tablet */
@media (max-width: 750px) {}

@media (max-width: 950px) {
		section.mainContainer {
			.menu {
				display: none;
			}

			.navContainer {
				width: 100%;
				margin: 0;

				.name {
					h1 {
						.menuIcon {
							margin-right: 25px;
							font-size: 17px;
							display: inline;
							cursor: pointer;
						}

						font-size: 16px;
						padding: 15px;
						text-align: left;
						height: auto;
					}
				}
				.nav {
					display: none;
					position:absolute;
					width: 150px;
					padding: 0;
					background-color: #333;
					color: #aaa;

					.lineContainer {
						display: none;
					}

					li {
						border-top: 1px solid #222;
						margin: 0;
						padding: 20px 0;

						&:first-child { border-top: none; }

						&.active {
							color: #fff;
						}
					}
				}
			}

			.contentContainer {
				width: calc(~"100% - 60px");
				height: auto;
				margin-top: 60px;

				.header {
					margin: 0;
					padding: 0;
				}

				.aboutMe .content .bio {
					padding: 0;
				}

				.aboutMe .content, .experiences .content {
					padding: 20px 0 0 0;
				}

				.experiences {
					height: auto;
				}

				.projects {

					.content {
						padding: 20px 0 0 0;
					}

					.proj {
						width: 100%;
						display: block;
						padding: 10px 0 0 0;
						margin: 0;
						float: left;
					}
				}
			}
		}
}

@media (min-width: 950px) {
	.menuIcon {
		display: none;
	}
}

html, body{
	height:100%;
	background-color: #fff;
	font-family: Catamaran;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.hide {
	display: none;
}

.mainContainer {
	position: absolute;
	width: @mainWidth;
	height: @mainHeight;
	background-color: #fff;

	.menu {
		height: 100%;
		width: @menuWidth;
		float: left;
		.imageContainer1, .imageContainer2 {
			position: absolute;
			height: 100%;
			width: @menuWidth;
			background: url(../bg62.jpg) no-repeat center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		.imageContainer2 {
			opacity: 0;
			background-image: url(../bg23.jpg)
		}
	}

	.navContainer {
		position: absolute;
		background-color: #fff;
		width: @navContainerWidth;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		z-index: 999;
		margin: 16px 0;

		.name h1 {
			font-size: 25px;
			padding: (@nameHeight/2 + 50) 0 0 0;
			color: #fff;
			background-color: #1D1D1B;
			height: @nameHeight;
			font-weight: bold;
			margin: 0;
		}

		.nav {
			font-size:15px;
			padding: 10px 0;
				list-style-type: none;
				margin: 0;

			li {
				margin: 20px 0;
				cursor: pointer;

				&.active {
					color: @active;
				}
				.line {
					display: block;
					margin: 0 auto;
					margin: 0 60px;
					border-bottom: 1px solid @line;
				}
			}
		}
	}

	.contentContainer {
		width: calc(~"(100% - "@menuWidth~") - 60px");
		height: calc(~"100% - 40px");
		float: right;
		padding: 20px 30px;

		section {
			position: relative;
		}

		.header {
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: 3px;
			margin: 50px 0 0 0;
			padding-bottom: 20px;
			border-bottom: 1px solid @line;
			visibility: hidden;
		}
		.content {
			position: relative;
			padding: 30px 0 0 30px;
		}
		.aboutMe {
			.content {
				margin-top: 50px;
				line-height: 22px;

				.bio {
					position: relative;
					padding-top: 50px;

					h3 {
						position: relative;
						height:50%;
						opacity: 0;
						bottom: 30px;
						letter-spacing: 1px;
					    text-align: center;
					    font-size: 58px;
					}
					p {
						position: relative;
						opacity: 0;
						bottom: 30px;
					    text-align: center;
					}
				}
			}
		}

		.projects, .experiences {
			h3{
				text-transform: uppercase;
				margin: 0;
			}
			h4 {
				margin: 0;
			}
		}

		.projects {
			height: calc(~"100% - 110px");
			overflow: hidden;

			.content {
				height: calc(~"100% - 30px");
				overflow-y: auto;
			}

			.proj {
				position: relative;
				opacity: 0;
				bottom: 30px;
				display: inline-block;
				width: calc(~"50% - 30px");
				margin: 20px 0 0 0;

				.tech {
					letter-spacing: 0.1px;
					font-size:13px;
					color: @fontGrey;
				}
				.links a {
					color: #4183D7;
					font-size:13px;
				}
				p {
					font-size: 14px;
				}
				h3.noTransform {
					text-transform: none;
				}
			}
			.proj:nth-child(1) {
				float:left;
				margin-right:50px;
			}
		}

		.experiences {
			height: calc(~"100% - 110px"); // (50 + 20) + (20 + 20)
			overflow: hidden;

			.content {
				opacity: 0;
				bottom: 50px;
				height: calc(~"100% - 30px");
				overflow-y: auto;
			}
			.exp {
				.company {
					display: block;
					text-transform: none;
					letter-spacing: 0.1px;
			    font-size: 13px;
			    color: #aaaaaa;
					font-weight: 500;
				}

				ul {
    				list-style-type: disc;

					li {
						font-size: 14px;
					}
				}
			}
		}
	}
}
